
<div class="center">
  <h1 class="center">Contact</h1>
</div>

<div class="contact-div">
  <address>
    <strong>Dinah Shepherd</strong><br>
    <strong>Founder and Executive Director</strong><br>
    27-43 Wormwood St, Suite 110<br>
    Boston, MA 02210<br><br>
    <abbr title="Phone">Phone:</abbr> (617) 435-0042 <br>
    <abbr title="Email">Email:</abbr> <a href="mailto:#">dshepherd@bpe.org</a>
  </address>
</div>