
<div class="center">
  <h1 class="center">Mission</h1>
</div>

<div class="paragraph">
  <p class="excerpt">
  First Teacher, a partnership between BPE, Dudley Children Thrive, Dudley Street Neighborhood 
  Charter School and the parents of Boston, provides parents of children from birth to four with 
  the opportunity to <strong>understand and embrace their vital role in their children’s cognitive 
  development, as well as create and participate in a supportive, empowering parent cohort, 
  all under the leadership of fellow parents. </strong>
  </p>
</div>

<div class="paragraph">
  <p class="excerpt">
  First Teacher is a neighborhood initiative “of the people, by the people, for the people.” It 
  is a direct hands-on program for parents and caregivers based on the idea that if knowledge, 
  information, and effective strategies are made accessible through a non-judgmental, collaborative 
  approach, parenting practices will improve dramatically, thereby directly supporting toddlers’ 
  school readiness prospects. The long-term goal of First Teacher is that children enter K1 at or 
  above grade-level in literacy skills and general school readiness.
  </p>
</div>