
<div class="center">
  <h1 class="center">Program</h1>
</div>

<div class="paragraph">
  <p class="excerpt">
    First Teacher is a home and neighborhood-based school readiness program in which high-achieving parents from the community partner with cohorts of parents of children 0-4 in the role of mentor and teacher and using the surrounding environment as an organic classroom. The three areas of focus for learning and practice in First Teacher are:
  </p>

  <ul>
    <li>
      Early language acquisition and literacy;
    </li>
    <li>
      Executive functioning; and
    </li>
    <li>
      General school readiness
    </li>
  </ul>

  <p class="excerpt">
    These services are offered through:
  </p>

  <ul>
    <li>
      high-quality, literacy-rich, intellectually stimulating, monthly workshops located at Dudley Street Neighborhood Charter School or Dudley Street Neighborhood Initiative
    </li>
    <li>
      monthly parent mentor home visits to provide guidance and support the program’s three areas of focus;
    </li>
    <li>
      optional monthly activities (field trips, potlucks, movie night, etc.) that highlight the pedagogical practices of First Teacher.
    </li>
  </ul>

</div>


